<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="2"
          android:versionName="1.0.0-SNAPSHOT"
          package="com.ndipatri.roboButton">

    <uses-sdk
            android:minSdkVersion="17"
            android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- for now, only for phones -->
    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
            android:name="com.ndipatri.roboButton.RBApplicationImpl"
            android:icon="@drawable/green_button"
            android:label="RoboButton">

        <activity
                android:name="com.ndipatri.roboButton.activities.MainControllerActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.ndipatri.roboButton.activities.ViewNearbyBeaconsActivity"
            android:label="Select Beacon"
            android:screenOrientation="portrait"/>

        <service android:name="com.ndipatri.roboButton.services.MonitoringService" android:exported="false"/>
        <service android:name="com.estimote.sdk.service.BeaconService" android:exported="false"/>
    </application>
</manifest>
