<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="2"
          android:versionName="1.0.0-SNAPSHOT"
          package="com.ndipatri.arduinoButton">

    <uses-sdk
            android:minSdkVersion="17"
            android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
            android:name=".ABApplicationImpl"
            android:icon="@drawable/green_button"
            android:label="Arduino Button">

        <activity
                android:name=".activities.MainControllerActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ViewNearbyBeaconsActivity"
            android:label="Select Beacon"
            android:screenOrientation="portrait"/>

        <service android:name=".services.MonitoringService" android:exported="false"/>
        <service android:name="com.estimote.sdk.service.BeaconService" android:exported="false"/>
    </application>
</manifest>
