<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="2"
    android:versionName="1.0.0-SNAPSHOT"
    package="com.ndipatri.roboButton">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- for now, only for phones -->
    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
            android:name=".RBApplication"
            android:icon="@drawable/green_button"
            android:debuggable="true"
            tools:replace="android:label"
            android:label="RoboButton">

        <activity
                android:name=".activities.MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ViewNearbyBeaconsActivity"
            android:label="Select Beacon"
            android:screenOrientation="portrait"/>

        <service android:name=".services.MonitoringService" android:exported="false"/>
        <service android:name="com.estimote.sdk.service.BeaconService" android:exported="false"/>

        <receiver android:name=".receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
